.pageContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem;
  padding-top: 3.5rem;
  background-color: #ffffff;
  min-height: 75vh;
}

.productCard {
  width: 40rem;
  max-width: 90%;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  position: relative;
}

.backButton {
  position: absolute;
  top: 10px;
  left: 10px;
  text-decoration: none;
  color: #000000;
  font-size: 0.95rem;
  font-weight: 600;
  background-color: #e2e2e2;
  padding: 0.6rem 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.backButton:hover {
  background-color: #f0f0f0;
  color: #1d3557;
}

.imageTitleWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.productCard img {
  max-height: 300px;
  width: auto;
  margin-top: 1rem;
  object-fit: contain;
  border-radius: 12px 12px 0 0;
}

.title {
  margin-top: 0.5rem;
  font-weight: 700;
  font-size: 1.8rem;
  margin-bottom: 1rem;
  text-align: center;
}

.description {
  font-size: 1rem;
  color: #000000;
  margin-bottom: 1.5rem;
  text-align: justify;
}

.toggleButton {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  width: 100%;
  text-align: center;
  font-weight: 600;
  border-radius: 8px;
  padding: 0.6rem 1rem;
  border-width: 1px;
  background-color: #e2e2e2;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.specifications {
  padding: 1rem;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  margin-top: 0.5rem;
  transition:
    max-height 0.4s ease,
    opacity 0.4s ease;
  overflow: hidden;
}

.specifications ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.specifications li {
  margin-bottom: 0.5rem;
  font-size: 0.95rem;
}

.specifications li strong {
  font-weight: 600;
  color: #333;
}

.priceWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3rem;
  font-weight: 600;
  color: #000000;
  margin-bottom: 1rem;
}
