.authButtonGroup {
  display: flex;
  gap: 0.5rem;
}

.authButtonGroup button {
  color: white;
  border-color: white;
  font-weight: 600;
  font-size: 0.9rem;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.authButtonGroup button:hover {
  background-color: white;
  color: #222; /* Цвет текста при наведении */
  border-color: white;
}
