.breadcrumb {
  font-size: 0.95rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  align-items: center;
  color: #d1d5db;
  user-select: none;
}

.segment {
  color: #d1d5db;
}

.separator {
  margin: 0 0.25rem;
  color: #d1d5db;
}
